* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
:root {
    --Secondary-color: #EDE3D9;
    --primary-color: #121418;
    --gray-color: #767B81;
}
.container-fluid{
    overflow: hidden;
}
.bg-box {
    height: 100vh;
    background-image: url(/assets/images/auth/BG.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 1s ease-in-out;
}
.container-fluid:hover  .bg-box {
    transform: scale(2);
    transform-origin: bottom;
}
.rectangular {
    position: absolute;
    top: 4%;
    right: 4%;
    bottom: 4%;
    left: 11%;
    border: .5px solid #EDE3D9;
    z-index: 1;
}
.login-card {
    background: rgba(255, 255, 255, .8);
    width: 300px;
    height: 75%;
    position: absolute;
    top: 12.5%;
    left: 72px;
    z-index: 2;
    color: var(--primary-color)
}
/* .login-card::before,
.login-card::after {
    content: "";
    display: block;
    border-top: 1px solid var(--Secondary-color);
    transform: rotate(90deg);
    width: 45px;
    position: absolute;
    left: 24%;
    z-index: 3
}

.login-card::before {
    bottom: -24px;
}

.login-card::after {
    top: -24px;
} */
.login-card img {
    display: inline-block;
    margin-bottom: 20px;
}
.login-content p{
    font-family: 'Montserrat', sans-serif ;
}
.login-content p:nth-child(2) {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
}
.login-content p:nth-child(3) {
    font-size: 11px;
    color: var(--gray-color);
}
.login-card .login-form p:nth-child(2){
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
}
.login-card .login-form p:nth-child(3){
    font-size: 9px;
}
.input {
    border: none;
    border-bottom: .5px solid var(--primary-color);
    width: 100%;
    background: inherit;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left;
    padding-left: 20px;
    background-image: url(/assets/images/auth/lock.svg);

}
.input:focus {
    outline: none;
    border-bottom: .5px solid var(--primary-color);
}
.input-with-img img {
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 15px;
    cursor: pointer;
}

.input::placeholder {
    font-size: 11px;
    color: var(--primary-color);
}

button {
    border: none;
    background: var(--primary-color);
    color: #ffffff;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 500;
}
.footer {
    bottom: 0;
    left: 0;
    font-size: 12px;
}