/* HEADER */
header nav .logo {
  padding: 0 0 0 16%;
}
header nav .profil .dropdown .dropdown-toggle {
  color: var(--bg-primary);
  text-decoration: none;
  font-size: 14px !important;
  padding-right: 0;
}
header nav .profil .dropdown img {
  width: 27px;
}
header nav .profil .dropdown .arrow-down {
  width: 20px;
}
header nav .profil .dropdown .dropdown-menu .dropdown-item {
  font-size: 12px !important;
  font-family: Montserrat;
  padding: 7px 14px;
}
header nav .profil .dropdown .dropdown-menu .line {
  border-bottom: 1px solid var(--bg-gray1);
  width: 80%;
  margin: auto;
}
header nav .profil .dropdown .dropdown-menu .logout {
  color: var(--bg-Red);
}
.dropdown-menu.show {
  border-radius: 0;
  border-color: var(--bg-gray1);
  inset: 45% auto auto -30% !important;
  padding: 0;
}
.dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: rgba(237, 227, 217, 0.5);
}
.shop-head .title-bg h2 {
  font-size: 33px;
}
/* MAIN */
.summary .btn-solid.disabeld {
  background: var(--bg-gray2);
  color: var(--bg-gray1);
  cursor: default;
}
.summary .btn-solid.disabeld:hover {
  border: none;
}
input,
select {
  margin-bottom: 20px;
}
.shipping-steps h5 {
  font-size: 17px !important;
}
.shipping-steps p {
  font-size: 12px !important;
}
.shipping-information {
  border: 1px solid var(--bg-gray1);
  padding: 27px;
}
.shipping-information h5 {
  font-size: 14px;
  padding-left: 14px;
}
.shipping-information .contact {
  background: rgba(237, 227, 217, 0.4);
  padding: 0 5px 0 20px;
}
.shipping-information .contact-information,
.shipping-address {
  padding: 33px 0;
}
/* Floating Label Animation  */
.shipping-information .field {
  position: relative;
}
.shipping-information .field label {
  font-size: 12px;
  color: var(--bg-primary);
  font-family: Montserrat;
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  transition: all 1s ease-in-out;
  pointer-events: none;
}
.shipping-information .field input:focus-visible + label,
.shipping-information .field input:not(:placeholder-shown) + label {
  top: -5px;
}
.shipping-information .field select:placeholder-shown + label {
  top: -5px;
}

.shipping-information .field select:focus + label,
.shipping-information .field select:valid + label {
  top: -5px;
}

.shipping-information .btn-solid {
  width: 30%;
}

.contact-information .Pickup {
  background-image: url(/assets/images/Checkout/shop.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 27px;
}
.contact-information .Ship {
  background-image: url(/assets/images/Checkout/truck.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 27px;
}
.contact-information .Pickup:focus::-webkit-input-placeholder {
  transform: translateY(0) translateX(0);
}
.contact-information .Ship:focus::-webkit-input-placeholder {
  transform: translateY(0) translateX(0);
}
/* Payment Method */
.payment-method-select .method-select .nav-pills .nav-link {
  border: 1px solid var(--bg-gray1);
  color: var(--bg-gray2);
  padding: 22px 48px;
  background: transparent;
  border-radius: 0;

}
.payment-method-select .method-select .nav-pills .nav-link .icons{
  margin-right: 14px;
  font-size: 20px;
}
.payment-method-select .method-select .nav-pills .nav-link.active {
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
  color: var(--bg-primary);
}
.payment-method-select .method-select button:hover {
  background: none;
}
.payment-method-select .method-select{
  padding: 20px 0;
  gap: 20px;
}
.shipping-information .btn-outline{
  width: 15%;
  margin-right: 14px;
}
.payment-method-select .method-select .btn-brown{
  background: var(--bg-Secondary2);
  color: #fff;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
}
.payment-method-select .method-select .balance{
  border: 1px solid var(--bg-gray1);
  padding: 20px;
}
.payment-method-select .method-select .btn-brown:hover{
  background: var(--bg-Secondary2);
  color: #fff;
}
.payment-method-select .method-select .balance h5{
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}
.payment-method-select .method-select .balance .required-cash
{
  padding: 20px 14px 0 14px;
}
.payment-method-select .method-select .balance .remaining-balance{
  padding: 0 14px 0 14px;
}
/*  */
.shipping-information .contact .btn-outline{
  padding: 3px;
  width: 9%;
  margin: 0;
  font-family: Montserrat;
  cursor: default;
}
.information .contact-info{
  margin: 20px 0;
  border: 1px solid var(--bg-gray1);
  padding: 20px;
}
.information .contact-info h5{
  padding: 0;
}
.information .contact-info p{
  font-size: 12px ;
  font-weight: 500;
  
}
.information .contact-info span{
  font-size: 12px ;
  font-weight: 400;
}
.information .contact-info .fullname p ,
.information .contact-info .phone p{
margin-right: 5px;
}
.information .contact-info .email p{
  margin-right: 33.5px;
}
.information .contact-info .line{
  border-bottom: 1px solid var(--bg-gray1);
  margin: 20px 0;
}
.information .contact-info .Pickup img{
  width: 20px;
  margin-right: 5px;
}
.information .contact-info .method h5{
  margin-left: 14px;
}
.information .contact-info .card-num {
  margin-left: 35px;
}
.information .contact-info .items-cart .item-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}






/* Progress */
.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}




