/* nav1 */
.text-center h2 {
    font-size: 30px;
    color: var(--White, #FFF);
    font-family: Montserrat Alternates;
}
/* dropdown */
.dropdown button{
    background: none;
    border: none;
}
.dropdown img{
    width: 24px;
}
.dropdown .arrow-down{
    width: 18px;
}
.dropdown-menu{
width: 188px !important;
border: 1px solid var(--grey-100, #E9EAEC);
background: var(--White, #FFF);
border-radius: 0;
padding: 16px;
}
.dropdown-menu.show{
    inset: unset !important;
    top: 18px !important;
    right: 0 !important;
}
.dropdown-menu .dropdown-item{
    color: var(--Primary, #121418);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
margin-bottom: 16px;
padding: 0;
}
.dropdown p{
    color: var(--Primary, #121418);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat Alternates;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.line{
    width: 100%;
    height: 1px;
    background: #E9EAEC;
    border: 1px solid #E9EAEC;
}
.dropdown-menu .logout{
    color: var(--Red, #BD1414);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat Alternates;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
margin-bottom: 0;
}

/* profile-img */
.account{
    background-image: url(/assets/images/pages/profile-img.png);
    height: 234px;
    background-position: center;
    background-size: 100% 100%;
}
.Product-seklect img {
    display: flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
}
.Product-seklect p {
    color: var(--White, #FFF);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

/* section */
.nav-underline{
    background: rgba(237, 227, 217, 0.50);
    margin-bottom: 32px;
}
/* .nav-item .nav-link{
    color: var(--Primary, #121418);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
padding: 15px 15px;
flex-wrap: nowrap;
} */
.nav-item .nav-link.active {
    color: var(--Secondary2, #DCB996);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
/* accounts */
.profile-data{
    width: 95%;
}
.account-detales img{
width: 66px;
margin-right: 16px;
margin-bottom: 24px;
}
.name-account p{
    color: var(--Primary, #121418);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    text-transform: capitalize;
}
.name-account a{
    color: var(--Primary, #121418);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    text-transform: capitalize;
    text-decoration: none;
}
.change-delete .change{
    display: flex;
width: 156px;
height: 40px;
padding: 12px 16px;
justify-content: center;
align-items: center;
background: var(--Primary, #121418);
color: var(--White, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 24px;
margin-right: 28px;
}
.change-delete .delete{
    display: flex;
width: 156px;
height: 40px;
padding: 12px;
justify-content: center;
align-items: center;
background: inherit;
border: 0.5px solid var(--Red, #BD1414);
color: var(--Red, #BD1414);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

/* footer */
.detals .logo{
    width: 146px;
    margin-bottom: 32px;
}
.detals .address{
    margin-bottom: 21px;
    text-align: center;
}
.detals .phone{
    padding: 0;
}
.detals .soial-icon{
    margin-top: 48px;
}
.Privacy{
    padding-top: 25%;
}
.line-footer{
    margin-top: 80px;
}
.fotter-data{
    padding-top: 56px;
}
.creted{
    margin-top: 16px;
}
.creted p{
    color: var(--Primary, #121418);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat Alternates;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
}
.creted span{
    color: var(--Primary, #121418);
font-variant-numeric: lining-nums proportional-nums;
font-family: Montserrat Alternates;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 26px;
text-transform: uppercase;
}
.year p{
    color: var(--Primary, #121418);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 185.714% */
}
.year span{
    color: var(--Primary, #121418);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Montserrat Alternates;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}