* {
  color: var(--bg-primary);
}
/* HEADER */
.shop-head .title-bg h5 {
  font-size: 15px;
  font-weight: 500;
}

/* MAIN */
.buy-shop {
  padding-bottom: 67px;
}
.Product-img {
  /* background-size: 100% 100%; */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 415px;
}
.share-top {
  background: rgba(237, 227, 217, 0.7);
}
.share-top {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.share-top p {
  font-size: 12px;
  font-weight: 400;
}
.detales-item p {
  color: var(--bg-Secondary2);
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 2px;
}
.detales-item h4 {
  color: var(--Primary, #121418);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}
.prices p {
  font-size: 19px !important;
  font-weight: 500;
  color: var(--bg-primary);
}
.prices small {
  font-size: 11px !important;
}
.store {
  padding-bottom: 16px;
}
.store p {
  color: var(--bg-primary);
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-weight: 300;
}
.store span {
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}
.detales-item .rating {
  padding-bottom: 10px;
}
.detales-item .rating p {
  color: var(--bg-gray);
  font-size: 14px !important;
  font-weight: 400;
}
.detales-item .rating p span {
  font-size: 27px;
  color: var(--bg-gray);
}
.detales-item .rating .star {
  color: var(--bg-Secondary2) !important;
}
.stock {
  color: #21973a;
  margin-bottom: 15px;
}
.stock p {
  color: var(--bg-Success);
  font-family: Montserrat Alternates;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}
.stock i {
  color: var(--bg-Success);
}
.detales-parg ul {
  padding: 0;
}
.detales-parg ul li {
  font-size: 13.5px;
  font-weight: 400;
}
.slider {
  width: 90%;
  top: 380px;
}
.bagination-img {
  width: 60%;
  overflow-x: scroll;
}
.bagination-img::-webkit-scrollbar {
  display: none;
}
.img-slide-detals img {
  width: 120px;
  height: 109px;
  overflow: hidden;
}
.img-slide-detals img.active {
  padding: 10px;
  background-color: var(--bg-Secondary);
  border: 1px solid var(--bg-primary);
}

.bagination {
  margin-top: 20px;
  width: 40%;
}
.bagination img {
  width: 38px;
}
.bagination ul li {
  color: var(--bg-primary);
  opacity: 0.3;
  font-family: Montserrat Alternates;
  font-size: 17px;
  font-weight: 400;
  list-style: none;
  margin-right: 17px;
}
.bagination ul li.active {
  color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 40px;
  height: 40px;
  border: 1px solid #121418;
  border-radius: 50%;
}
/* Buy Detales */
.buy-detales {
  background: rgba(237, 227, 217, 0.5);
  padding: 20px;
}
.color-detales {
  padding-bottom: 20px;
}
.buy-detales p {
  font-size: 14px !important;
  font-weight: 500;
}
.buy-detales p span {
  font-size: 14px;
  font-weight: 400;
}
.color-select {
  padding-top: 10px;
}
.color-select span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.color1 {
  background: #9d7c2d;
}
.color2 {
  background: #e3dac9;
}
.color3 {
  background: #944536;
}
.color4 {
  background: #f7e9c2;
}
.color5 {
  background: #9d2236;
}
.color-detales .color-select input {
  display: none;
}
.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow: 0 0 0 5px var(--bg-Secondary), 0 0 0 6px #000;
}
.size-detales {
  padding-bottom: 20px;
}
.size-select {
  padding-top: 10px;
}
.size-select ul {
  padding: 0;
  margin: 0;
}
.size-select ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--Primary, #121418);
  margin-right: 10px;
}
.size-select ul li.active {
  background: #121418;
  color: #fff;
}
.buy-shop .buy-detales .quantity-detales {
  padding-bottom: 27px;
}
.quantity-select {
  padding-top: 10px;
}
.quantity-select img {
  width: 20px;
}
.quantity-select input {
text-align: center;
  background: transparent;
  margin: 0;
  width: 20px;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 400;
}
.buy-detales .line {
  margin-bottom: 24px;
  width: 100%;
  border-bottom: 1px solid var(--bg-gray2);
}
.total-detales {
  padding-bottom: 13.5px;
}
.total-detales p {
  font-size: 15px !important;
  font-weight: 600;
}
.add-cart {
  padding-bottom: 13.5px;
}
.add-cart .btn-solid {
  width: 90%;
}
.add-cart .btn-outline {
  width: 20%;
}
.buy .btn-outline {
  width: 100%;
}
.buy .btn-outline:hover {
  background: var(--bg-primary);
  border: none;
  color: #fff;
}
/*  */
.menu-shape {
  width: 90%;
  padding: 67px 0 107.5px 0;
}
.menu-shape ul {
  background: rgba(237, 227, 217, 0.5);
  padding: 18px 47px;
  justify-content: space-between;
  position: relative;
  transition: all 1s ease-in-out;
}
.menu-shape button {
  color: var(--bg-primary);
  font-size: 16px;
  font-weight: 400;
}
.menu-shape button {
  background: none !important;
}
.menu-shape button:hover {
  color: var(--bg-primary);
}
.nav-link.active {
  color: var(--bg-primary) !important;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}
.menu-shape .nav-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 57px;
  height: 2px;
  background: var(--bg-primary);
  border-bottom: 2px solid var(--bg-primary);
  transition: all 1s ease-in-out;
}
.tab-content p {
  font-size: 13.5px !important;
  font-weight: 400;
}
.tab-content .return-policy p {
  font-weight: 500;
}
.tab-content .return-policy ul {
  background: none;
  padding: 20px 0 0 30px;
}
.tab-content .return-policy ul li {
  font-size: 13.5px;
  font-weight: 400;
}
.write-review .customer-reviews h5 {
  font-size: 16px;
}
.rating-stars {
  gap: 7px;
}
.write-review .customer-reviews .rating-stars img {
  width: 17px;
}
.write-review .customer-reviews .rating-stars p {
  font-size: 14px;
  color: var(--bg-Secondary2);
}
.write-review .customer-reviews .rating-stars p span {
  font-size: 27px;
  color: var(--bg-Secondary2);
}
.write-review .write-buton .btn-solid {
  font-size: 14px;
  justify-content: center;
  align-items: center;
  width: 165px;
  padding: 12px 16px;
  color: #fff;
  background: var(--bg-primary) !important;
  transition: all 0.5s ease-in-out;
}
.write-review .write-buton .btn-solid:hover{
  background: transparent !important;
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}
.write-data{
  display: none;
  margin-top: 22px;
  border: 1px solid var(--bg-gray1);
  padding: 27px;
}
.write-data p{
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 12px;
}
.write-data .rating-stars img {
  width: 17px;
}
.write-data form{
  padding-top: 25px;
}
.review-show{
  margin-top: 22px;
  border: 1px solid var(--bg-gray1);
  padding: 27px
}
.review-show .title-show .rating-stars img{
  width: 14px;
}
.review-show .title-show  p{
  font-size: 12px !important;
  color: var(--bg-gray3);
}
.review-show .line{
  padding-top: 15px;
  border-bottom: 1px solid var(--bg-gray1);
  margin-bottom: 14px;
}
.content-show .review-img img{
  margin-right: 14px;
}
.content-show .quote img{
  width: 20px;
}
.content-show p{
  font-size: 14px !important;
  padding-bottom: 14px;
}
.content-show .name-review img{
width: 33px;
margin-right: 10px;
}
.content-show .name-review h5{
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
}
/* related-products */
.related-products .rating p span {
  color: #fff;
}

/* Model Shipping */
.modal{
  --bs-modal-width: 50%;
}
.modal-content{
  border-radius: 0;
  width: 719px;
}
.modal-header , .modal-body , .modal-footer{
  padding: 0 27px;
  border: none;
}
.modal-content .cart-sucsses{
  background: var(--bg-Success);
  color: #fff !important;
  padding: 10px 20px;
  margin: 27px 27px 0 27px;
}
 .ticks{
  font-size: 27px;
  color: #fff;
}
.modal-content .cart-sucsses p{
  color: #fff;
  padding-left: 14px;
  font-size: 14px !important;
  font-weight: 600;
}
.modal-content .cart-sucsses p span{
  color: #fff;
  font-size: 14px !important;
  font-weight: 400;
}
.modal-header .shopping-cart{
  /* padding-bottom: 14px; */
}
.modal-header .shopping-cart h5{
  font-size: 13.5px !important;
font-weight: 600;
}
.modal-header .shopping-cart p {
  font-size: 13.5px !important;
  color: var(--bg-graydark);
  padding-left: 10px;
}
.modal-content .line{
width: 90%;
margin: auto;
border-bottom: 1px solid var(--bg-gray1);
}
.modal-header button{
  font-size: 10px;
  font-weight: 600;
}
.modal-body .items .items-cart .title-item .quantity-detales{
  padding-bottom: 0;
}
.modal-body .items .items-cart  .btn-outline{
  width: 50%;
}
.modal-body .items {
  border: none;
  padding: 20px 0;
}
.modal-content .btn-brown{
  font-size: 17px !important;
  font-weight: 600;
  margin-bottom: 10px;
}
.modal-body .taxes{
  font-size: 13.5px !important;
  font-weight: 400;
  color: var(--bg-graydark);
  padding-bottom: 20px;
}
.modal-footer{
padding-top: 20px;
padding-bottom: 27px;
}
.modal-footer .btn-outline{
  width: 164px;
}
.modal-footer .btn-solid{
  width: 164px;
}