* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

:root {
    --Secondary-color: #EDE3D9;
    --primary-color: #121418;
    --gray-color: #767B81;
    --Secondary2-color: #DCB996;
}
/* classes for html */
.bg-white {
    background: #ffffff;
}
.bg-second {
    background: rgba(237, 227, 217, 0.5) !important;
}
.bg-prime{
    background: var(--primary-color);
}
.color-second {
    color: var(--Secondary2-color);
}
/* font size */
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
    font-weight: 500;
}
.f-16{
    font-size: 16px;
}
.f-30{
    font-size: 30px;
}
.f-bold {
    font-weight: bold;
}
/* font family */
.fm-1 {
    font-family: 'Meow Script', cursive;
}
.fm-2 {
    font-family: 'Montserrat', sans-serif;
}
/* button */
.btn-black {
    background: var(--primary-color);
    border: 0;
    outline: 0;
    color: #ffffff;
    padding: 5px 15px;
    font-family:'Montserrat', sans-serif;
    z-index: 66;
}
.btn-black:hover{
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    transition: background .5s ease;
}
button span{
    font-family: 'Montserrat', sans-serif;
}
/* title */
h2 {
    font-size: 32px;
    font-weight: bold;
}
p {
    font-size: 12px;
    text-transform: capitalize;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/* section header */
nav img {
    width: 18px;
}

nav .logo img {
    width: 109.5px;
}
.nav-link.active {
    font-weight: bold;
}
.shop{
    height: 200px;
    background-image: url(/assets/images/pages/shop.svg);
    background-size: cover;
    background-position: center;
}
.shop img{
    width: 55px;
}
.shop h2{
    color: #ffffff;
}
.accordion .accordion-item{
    border: none;
}
.accordion .accordion-button{
border-radius: 0 !important;
background-color: var(--Secondary-color);
margin-bottom: 10px;
font-size: 14px;
}
.accordion-body{
    padding: 0 0 11px 21px;
}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(/assets/images/pages/add.svg);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/pages/Vector.svg);
    transform: var(--bs-accordion-btn-icon-transform);
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    background-position: center center;
}
.form-group {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    padding: 5px;
    display: inline-block;
    position: relative;
    vertical-align: -1px;
    cursor: pointer;
    margin-right: 5px;
}
.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 5px;
    height: 11px;
    border: solid var(--primary-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.reset img{
    width: 20px;
    margin-right: 5px;
}
.sort-img img{
    width: 30px;
    border: 1px solid #E9EAEC;
    padding: 5px;
}
.sort-img img.active{
    width: 30px;
    height: 30px;
    background: var(--Secondary-color);
    padding: 5px;
}
.sort-dropd{
    border: 1px solid #E9EAEC;
    padding: 4px;
}
.sort-dropd img{
    width: 20px;
}
.sort-dropd button{
    background: none;
    border: none;
}
.dropdown-toggle::after{
    display: none;
}
.p-new{
    background:#BD1414 ;
    padding: 3px 10px;
    color: #ffffff;
    font-family: 'Montserrat','Montserrat Alternates' , sans-serif;
    
}
.p-star{
    background: var(--Secondary-color) ;
    padding: 3px 10px;
    /* font-family: 'Montserrat', sans-serif; */
}

.text-cont span{
    font-size: 9px;
    text-decoration: line-through;
    color: var(--gray-color)
}

/* footer */
.detals{
    background: #EDE3D980;
}
.detals p{
    font-size: 16px;
    font-weight: 600;
}
.addres p{
    font-size: 12px;
}
.phone{
    padding: 0 6rem;
}
.detals ul{
    padding: 0;
}
.detals li{
    list-style: none;
}
.detals a{
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}
.icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 24px;
    font-size: 12px;
}
.box-border {
    border: 1px solid var(--primary-color);
}
.line-footer{
    width:100%;
    border-bottom: 1px solid var(--primary-color);
}
