
/* SHOP HEAD */
.shop-head {
  padding: 33px 0;
}
.shop-bg2 {
  height: 196.5px;
  background-image: url(/assets/images/shop/shop-bg.png);
  background-size: 100% 100%;
  background-position: center center;
}
header .shop-head h2{
  color: #ffffff;
}
header .shop-head h5{
    color: #fff;
}
/* SHOP MAIN */
.header-sort .title-all p {
  font-size: 17px !important;
}
.sort img{
    width: 20px;
}
.sort-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e9eaec;
  padding: 5px;
}
.sort-img.active {
  background: var(--bg-Secondary);
  padding: 5px;
}
.sort-img{
    margin-right: 10px;
}
.dropdown-toggle {
  padding: 0 13.5px;
}
.sort-dropd {
  border: 1px solid #e9eaec;
  display: flex;
  align-items: center;
}
.sort-dropd img:last-child {
  width: 13.5px;
}
.sort-dropd button {
  background: none;
  border: none;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown p {
  font-size: 12px !important;
}

.accordion .accordion-item {
  border: none;
}
.accordion .accordion-item:focus {
  border: none;
}
.accordion .accordion-button {
  font-size: 13.5px !important;
  border-radius: 0 !important;
  background-color: var(--bg-Secondary);
  margin-bottom: 10px;
  padding: 0 13.5px;
}
.accordion-button::after {
  background-image: url(/assets/images/shop/add.svg);
}
.accordion-button:not(.collapsed)::after {
  background-image: url(/assets/images/shop/minus.svg);
}
.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}
input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
label:before {
  content: "";
  width: 13.5px;
  height: 13.5px;
  background-color: transparent;
  border: 1px solid var(--bg-primary);
  padding: 5px;
  display: inline-block;
  position: relative;
  vertical-align: -1px;
  cursor: pointer;
  margin-right: 5px;
}
.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--bg-primary);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.reset img {
  width: 20px;
  margin-right: 5px;
}

/* FOOTER */
footer{
    margin: 114px 0 0 0;
}