* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  /* ------COLOR------ */
  --bg-primary: #121418;
  --bg-Secondary: #ede3d9;
  --bg-Secondary2: #dcb996;
  --bg-Red: #bd1414;
  --bg-gray: #95989d;
  --bg-Success: #21973a;
  --bg-graydark: #767b81;
  --bg-gray1: #e9eaec;
  --bg-gray2: #cbcccf;
  --bg-gray3: #95989d;
  --bg-grey-light: #BABABA;
  --bg-greenwihte: rgba(18, 186, 54,0.1);
  --bg-greendark: #1D9838;
  --bg-orange: #F2AB63;
  --bg-orange-light: rgba(242, 171, 99 ,0.2);
  --bg-Secondary-light: rgba(221, 186, 152,0.4);

  /* ------FONTS------ */
  --font-primary: Montserrat Alternates;
  --font-Secondary: Montserrat;
  --font-Secondary2: Meow Script;
}
/* CLASSIS BUTTON */
.btn-solid {
  border: 1px solid var(--bg-primary);
  outline: none;
  background: var(--bg-primary);
  padding: 10px 14px;
  font-size: 14px;
  color: #ffff;
  border-radius: 0;
  font-family: var(--font-Secondary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.btn-solid:hover {
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.btn-solidspace {
  border: 1px solid var(--bg-primary);
  outline: none;
  background: var(--bg-primary);
  padding: 10px 14px;
  font-size: 14px;
  color: #ffff;
  border-radius: 0;
  font-family: var(--font-Secondary);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.btn-solidspace:hover {
  border: 1px solid var(--bg-primary);
  padding: 10px 27px;
  color: var(--bg-primary);
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border: 1px solid var(--bg-primary);
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-outline:hover {
  background: var(--bg-primary);
  /* border: none; */
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.btn-outlineblock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border: 1px solid var(--bg-primary);
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-brown {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-Secondary);
  border: none;
  color: var(--bg-primary);
}
/* CLASSIS INPUT */
input{
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat Alternates;
  border-bottom: 1px solid;
  width: 100%;
  padding: 13px 0;
  cursor: pointer;
}

input::placeholder{
  font-size: 12px;
  color: var(--bg-primary);
  font-family: Montserrat;
  transition: all 1s ease-in-out;
}
/* input:focus::-webkit-input-placeholder{
  transform: translateY(-100%) translateX(0);
  transition: all 1s ease-in-out;
} */
select{
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  font-size: 12px;
  padding: 15.5px 0;
  cursor: pointer;
}


a {
  font-size: 14px !important;
  font-weight: 400;
}
small {
  color: var(--grey-300, #95989d);
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
h1 {
  font-size: 61px;
  font-weight: 500;
}
h2 {
  color: var(--Primary, #121418);
  font-family: Montserrat Alternates;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
h4 {
  color: var(--Primary, #121418);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}
h5 {
  color: var(--Primary, #121418);
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
}
h6 {
  color: var(--bg-Secondary2);
  font-family: Meow Script;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
p {
  font-size: 17px;
  margin: 0;
}
P span {
  font-family: var(--font-Secondary);
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-primary);
  color: var(--bg-primary);

  width: 100%;
}
/* ----HEADER---- */
/* NAVBAR1 */
.search img,
.profil img {
  width: 20px;
}
.logo img {
  width: 122.5px;
  margin: 0 0 0 35%;
}
/* NAVBAR2 */
.navbar {
  background: rgba(237, 227, 217, 0.5);
}
.nav-link.active {
  font-weight: 600;
}
/* HERO */
.hero-head {
  padding: 33px 0 0 0;
}
.swiper-slide {
  overflow: hidden;
  position: relative;
}
.swiper-slide .box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 94%;
  height: 90%;
  border-top: 1px solid var(--White, #fff);
  border-bottom: 1px solid var(--White, #fff);
  border-left: 1px solid var(--White, #fff);
}
.swiper-pagination {
  flex-direction: column;
  margin-right: 33px;
}
.swiper-pagination .line {
  height: 169px;
}
.swiper-pagination .arrow {
  height: 85px;
}
.swiper-pagination li {
  color: var(--bg-primary);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  opacity: 0.3;
}
.swiper-pagination li.active {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  opacity: 1;
}
.hero-title .title-h {
  position: absolute;
  top: 87px;
  left: 460px;
}
.hero-title h1 span {
  display: inline-block;
  position: relative;
}
.hero-title h1 span::before {
  content: attr(data-char);
  position: absolute;
  overflow: hidden;
  color: rgb(255, 255, 255);
}
.hero-title h1 span:first-child::before {
  width: 34%;
}
.hero-title h1 span:nth-child(2):before {
  width: 29.5%;
}
.hero-title p {
  margin-top: 247px;
  margin-bottom: 20px;
}
.hero-title button {
  width: 165px;
}
/* SECTION EXPLORE */
.explore {
  padding: 80px;
}
.explore-content .line-b {
  width: 114px;
  transition: all 0.5s ease-in-out;
}
.explore-data img,
.explore-data h5 {
  transition: all 0.5s ease-in-out;
}
.explore-data:hover .skw-right {
  transform: skew(-0.01turn, 5deg);
  transition: all 0.5s ease-in-out;
}
.explore-data:hover .skw-left {
  transform: skew(0.01turn, -5deg);
  transition: all 0.5s ease-in-out;
}
.explore-data:hover .line-b {
  width: 0px;
  transition: all 0.5s ease-in-out;
}
.explore-data:hover .up {
  transform: translatey(-25%);
  transition: all 0.5s ease-in-out;
}
.explore-data:hover .dwon {
  transform: translatey(25%);
  transition: all 0.5s ease-in-out;
}
.explore-data .text .photo-up {
  transform: translatey(-40%);
  opacity: 0;
}
.explore-data:hover .photo-up {
  opacity: 1;
}
.explore-data .text .photo-dwon {
  transform: translatey(50%);
  opacity: 0;
}
.explore-data:hover .photo-dwon {
  opacity: 1;
}
/* SECTION SHOP */
.shop {
  padding: 0 0 87px 0;
}
.text-content {
  padding: 69px 20px 69px 33px;
}
.shop-title .box {
  top: 5%;
  width: 100%;
  height: 90%;
  border-top: 1px solid var(--bg-Secondary2);
  border-bottom: 1px solid var(--bg-Secondary2);
  border-left: 1px solid var(--bg-Secondary2);
  z-index: -1;
}
.shop p {
  font-size: 13px;
  margin: 0 0 74px;
}
.shop button {
  width: 223px;
}
.shop .shop-bg {
  width: 100%;
  height: 100%;
  background-image: url(../images/home/shop-bg.png);
  background-size: 100% 100%;
  background-position: center;
  animation: shrink 3s infinite alternate;
}
.shop .shop-bghead .box {
  opacity: 1;
  top: 5%;
  bottom: 5%;
  left: 0;
  right: 5%;
  border-top: 1px solid var(--White, #fff);
  border-bottom: 1px solid var(--White, #fff);
  border-right: 1px solid var(--White, #fff);
  /* animation: hide 0.5s infinite alternate; */
}
@keyframes shrink {
  0% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* SECTION  */
.content-text {
  padding: 25px 0 25px 9px;
}
.title .line {
  width: 138px;
}
.price p {
  font-weight: 600;
}
.content-text button {
  width: 223px;
}
li {
  font-size: 14px;
}
.product-photo {
  overflow: hidden;
}
.product-photo img {
  transition: all 1s ease-in-out;
}
.product-photo:hover img {
  transform: scale(1.5);
  transform-origin: bottom left;
}
.product-veiw {
  display: flex;
  align-items: flex-end;
  padding-bottom: 33px;
}
.img-elepse {
  left: 61px;
  top: 161px;
}
/* SECTION NEW PRODUCT */
.new-product {
  padding: 107px 0;
}
.rating {
  z-index: 1;
}
.p-new,
.p-star {
  padding: 3px 12px;
  font-size: 14px;
}
.p-new {
  background: var(--bg-Red);
  color: #fff;
}
.p-star {
  background: var(--bg-Secondary);
  color: var(--Primary);
}
.text-cont h4 {
  font-size: 16px;
}
.text-cont p {
  font-size: 19px !important;
  font-weight: 600;
}
.text-cont small {
  font-size: 11px !important;
}
.img-head{
  overflow: hidden;
}

.img-head:hover .overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 1s ease-in-out;
}
.img-head:hover .overlay-data {
  opacity: 1;
  transition: all 2s ease-in;
}
.img-head .overlay {
  background: var(--bg-Secondary);
  top: 100%;
  right: 100%;
  left: 100%;
  bottom: 100%;
  transition: all 1s ease-in-out;
  z-index: 1;
}
.overlay .box {
  border: 1px solid;
  top: 5%;
  bottom: 5%;
  right: 5%;
  left: 5%;
}
.overlay-data {
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  padding: 13.5px 20px;
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 1;
  border: 1px solid var(--bg-primary);
}
.overlay-data ul{
  padding: 0 13.5px;
}
.overlay-data ul li{
  list-style: disc;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.overlay-btn {
  margin: 22.5px 0 0 0;
  gap: 12px;
}
.overlay-btn button {
  z-index: 1;
}
.overlay-btn button:first-child {
  width: 166px;
}
.overlay-btn button:last-child {
  width: 48px;
}
/* SECTION SAVE UP */
.save-up {
  height: 455px;
  overflow: hidden;
}
.bg-save {
  height: 100%;
  background-image: url(/assets/images/home/bg-save.png);
  background-size: 100% 100%;
  animation: zoom 2s infinite alternate;
}
.content-save {
  top: 50%;
  transform: translatey(-25%);
}
.content-save .title h6 {
  color: var(--bg-primary);
}
.content-save button {
  margin-top: 67px;
  width: 223px;
}
@keyframes zoom {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}
/* SECTION CUSTEMRS */
.custemrs {
  padding: 107px 0;
}
.owl-carousel .owl-items .photo-owl {
  width: 349px;
  height: 437px;
  overflow: hidden;
}
.owl-carousel .owl-items img:last-child {
  width: 188px;
  top: 215px;
  left: 24px;
  z-index: 1;
}
.man .box {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  width: 70%;
  height: 407px;
  border-top: 1px solid var(--White, #fff);
  border-bottom: 1px solid var(--White, #fff);
  border-left: 1px solid var(--White, #fff);
  z-index: 1;
}
.carousel2 {
  padding: 0 0 0 20px;
  background-image: url(/assets/images/home/bg-custmers.png);
  background-position: center;
  margin: 22px 0;
  height: 397px;
}
.carousel2 .owl-item .slide img {
  width: 33px;
}
.carousel2 .owl-item .slide h2 {
  font-size: 27px;
  margin-bottom: 26px;
}
.carousel2 .owl-item .slide p {
  font-size: 15.5px;
  margin-top: 7px;
}
.carousel2 .owl-item .slide .swiper-pagination {
  flex-direction: row;
}
.carousel2 .owl-item .slide .line {
  width: 72px !important;
}
.carousel2 .owl-item .slide .arrow {
  width: 85px !important;
  margin-left: 20px;
}
.carousel2 .owl-item .slide h5 {
  font-size: 15.5px;
  padding-left: 13.5px;
  padding-right: 113px;
}
.carousel2 .owl-item .slide ul li {
  margin-left: 16px;
}
/* SECTION INSTGRAM */
.instgram h2 {
  font-size: 27px;
  margin: 0;
  padding-bottom: 19px;
}
.instgarm-slide {
  padding-top: 11px;
  display: flex;
  overflow: hidden;
}
.left-box,
.right-box {
  width: 72px;
  height: 256px;
  flex-shrink: 0;
  opacity: 0.7;
  background: linear-gradient(
    90deg,
    #fff -1.28%,
    rgba(255, 255, 255, 0) 199.31%
  );
  z-index: 1;
}
.right-box {
  right: 0;
}
.photo-insta img {
  width: 181px;
  height: 215px;
}
.instgarm-slide img {
  animation: slide 4s alternate infinite;
}
.instgarm-slide img {
  /* animation-play-state: paused; */
}
@keyframes slide {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}
.photo-insta {
  position: relative;
}
.photo-insta .overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.photo-insta .overlay .fa-instagram {
  color: var(--bg-primary);
  font-size: 22px;
}
.photo-insta:hover .overlay {
  opacity: 1;
}
.photo-insta img:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #bd1414;
}

/* FOOTER */
footer {
  padding: 48px 0;
  background: rgba(237, 227, 217, 0.5);
}
footer li {
  padding-bottom: 7px;
}
footer a {
  text-decoration: none;
  color: var(--bg-primary);
  font-size: 13.5px;
}
footer h5 {
  font-size: 16px;
  margin-bottom: 13.5px;
}
footer img {
  padding-bottom: 27px;
}
footer .contact {
  padding-top: 18px;
}
footer .shape {
  font-size: 20px;
}
.faqs {
  padding: 55px 0 0 0;
}
.soial-icon {
  padding: 40px 0 0 0;
}
.icon {
  width: 33px;
  height: 33px;
  border: 1px solid var(--bg-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-footer {
  padding-top: 67px;
  border-bottom: 1px solid var(--bg-primary);
}
footer .creted a,
p {
  font-size: 12px !important;
}
footer .creted p {
  font-weight: 600;
}
.creted small {
  text-decoration: none;
  color: var(--bg-primary);
  font-weight: 400;
}
